<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CARD</title>
    <style>

    </style>
</head>

<body>
    <div class="card-container">
        
        <div class="card">
            <div class="user-profile"></div>
            <div class="user-detail-holder">
                <div class="user-name">Lorem Ipsum</div>
                <div class="job-title">Lorem Dolor Lamet</div>
                <div class="user-description">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum, deserunt? Lorem ipsum dolor sit
                    amet
                    consectetur adipisicing elit. Voluptatibus, eveniet.
                </div>
                <div class="user-stats">
                    <div class="likes">
                        <span class="mdi mdi-thumb-up-outline"></span>
                        <div class="like-count">20</div>
                    </div>
                    <div class="dislikes">
                        <span class="mdi mdi-thumb-down-outline"></span>
                        <div class="dislike-count">7</div>
                    </div>
                    <div class="sections">
                        <span class="mdi mdi-google-classroom"></span>
                        <div class="section-count">1,23,56</div>
                    </div>
                </div>
                <ul class="subjects">
                    <li>Compiler Design</li>
                    <li>Computer Networking</li>
                </ul>
                <div class="buttons">
                    <button>Details</button>
                    <button>View Profile</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="user-profile"></div>
            <div class="user-detail-holder">
                <div class="user-name">Lorem Ipsum</div>
                <div class="job-title">Lorem Dolor Lamet</div>
                <div class="user-description">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum, deserunt? Lorem ipsum dolor sit
                    amet
                    consectetur adipisicing elit. Voluptatibus, eveniet.
                </div>
                <div class="user-stats">
                    <div class="likes">
                        <span class="mdi mdi-thumb-up-outline"></span>
                        <div class="like-count">20</div>
                    </div>
                    <div class="dislikes">
                        <span class="mdi mdi-thumb-down-outline"></span>
                        <div class="dislike-count">7</div>
                    </div>
                    <div class="sections">
                        <span class="mdi mdi-google-classroom"></span>
                        <div class="section-count">1,23,56</div>
                    </div>
                </div>
                <ul class="subjects">
                    <li>Compiler Design</li>
                    <li>Computer Networking</li>
                </ul>
                <div class="buttons">
                    <button>Details</button>
                    <button>View Profile</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="user-profile"></div>
            <div class="user-detail-holder">
                <div class="user-name">Lorem Ipsum</div>
                <div class="job-title">Lorem Dolor Lamet</div>
                <div class="user-description">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum, deserunt? Lorem ipsum dolor sit
                    amet
                    consectetur adipisicing elit. Voluptatibus, eveniet.
                </div>
                <div class="user-stats">
                    <div class="likes">
                        <span class="mdi mdi-thumb-up-outline"></span>
                        <div class="like-count">20</div>
                    </div>
                    <div class="dislikes">
                        <span class="mdi mdi-thumb-down-outline"></span>
                        <div class="dislike-count">7</div>
                    </div>
                    <div class="sections">
                        <span class="mdi mdi-google-classroom"></span>
                        <div class="section-count">1,23,56</div>
                    </div>
                </div>
                <ul class="subjects">
                    <li>Compiler Design</li>
                    <li>Computer Networking</li>
                </ul>
                <div class="buttons">
                    <button>Details</button>
                    <button>View Profile</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>